<section class="container-fluid">
    <form class="form-inline" method="post" action="" id="corrselector">
        <div class = "form-group">
            <label for="freqtrail" style="font-weight:600" >Data frequency</label>
            <select class="form-control form-control-sm" id="freqtrail"></select>
            <input type="hidden" id="freq" name="freq"></input>
            <input type="hidden" id="trail" name="trail"></input>
        </div>
        <div class = "form-group" style="margin-left:10px">
            <label for="corr_type" style="font-weight:600" >Correlation Type</label>
            <select class="form-control form-control-sm" name="corr_type" id="corr_type"></select>
            <button class="btn btn-primary btn-sm" type="submit" id="submitcorrselector" >Change</button>
        </div>
    </form>
</section>
