<section class="container" style="margin-bottom:20px" id="dataloader">
    <form class="form-inline" method="post" action="" id="dataloader-form">
            <label for="dataloader-dates" style="font-weight:600">Dates</label>
            <textarea class="form-control form-control-sm" rows="5" id="dataloader-dates" style="width:100%"></textarea>
            <label for="dataloader-values" style="font-weight:600">Values</label>
            <textarea class="form-control form-control-sm" rows="5" id="dataloader-values" style="width:100%"></textarea>

            <button class="btn btn-primary" type="submit" id="dataloader-submit" >Enter</button>
    </form>
</section>
